h1, h2, h3, h4, p, a, span {
    color: $brown !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.material-icons {
    cursor: pointer;
}

 /* Rules for sizing the icon. */
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-44 { font-size: 44px; }
 .material-icons.md-48 { font-size: 48px; }
 
 /* Rules for using icons as black on a light background. */
 .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
 .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
 
 /* Rules for using icons as white on a dark background. */
 .material-icons.md-light { color: rgba(255, 255, 255, 1); }
 .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.red {
    color: $red !important;
}


.type-dropdown {
    width: 120px !important;
}

.service-dropdown {
    width: 210px !important;
}

.location-dropdown {
    width: 210px !important;
}

.go-down {
    width: 44px;
    height: 44px;
    border-radius: 30px;
    background-color: $red;
}

.search-btn {
    background-color: $red !important;
    color: white !important;
    border: 0 !important;
}

.booking-btn {
    width: 160px;
    background-color: $red !important;
    color: white !important;
    border: 0 !important;
}