.logo {
    width: 121px;
    height: 55px;
}

.nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    
    .nav-list {
        display: flex;
        justify-content: space-around;
        .nav-page + .nav-page {
            margin-left: 40px;
        }
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    height: 736px;
    .banner-content {
        margin-right: 112px;
        margin-top: 264px;
        
        h1 {
            font-size: 40px;
            font-weight: bold;
        }
        span {
            font-size: 24px;
            margin-top: 16px;
            font-weight: bold;
        }
        .search-field {
            display: flex;
            margin-top: 48px;
        }
        .godown-icon {
            float: right;
            margin-top: 199px;
        }
    }
}

.section {
    padding: 80px;
    h2 {
        font-size: 32px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        font-weight: 500;
    }
}

.slide-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .card {
        width: 350px;
        height: 100%;
        border: 1px black solid;
        overflow: hidden;
        margin: auto 15px;
        .photo-filter {
            height: 120px;
            overflow: hidden;
        }
        .userinfo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            margin-top: -100px;
            .avatar {
                width: 100px;
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
            .grade {
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
                .each-grade {
                    margin: 0;
                }
                .each-grade + .each-grade {
                    margin-left: 60px;
                }
                h4 {
                    font-size: 16px;
                }
                .num {
                    font-size: 28px;
                }
                .type {
                    font-size: 14px;
                }
            }
        }
    }
}

.puzzle {
    display: flex;
    margin-top: 12px;
    .piece {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        margin: 6px;
        cursor: pointer;
        .filter-grey {
            background-color: black;
            width: 100%;
            height: 100%;
        }
        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-weight: bold;
            color: white !important;
        }
        img {
            background-color: black;
            opacity: 0.4;
            position: absolute;
            object-fit: cover;
            height: 100%;
        }
    }
    .sub-puzzle {
        margin: 6px;
    }
    .sub-puzzle-list {
        width: 267px;
        li + li {
            margin-top: 6px;
        }
    }
    .sub-piece {
        height: 168px;
        width: 100%;
        margin: 0;
    }
    .square {
        width: 350px;
        height: 350px;
    }
    .rectangle {
        width: 303px;
        height: 350px;
    }
    .thin {
        width: 172px;
        height: 350px;
    }
}

.statistics {
    background-image: url('https://hexschool.github.io/webLayoutTraining1st/petpet-week8/index-9.jpeg');
    background-repeat: no-repeat;
    height: 584px;
    padding: 80px;
    h2 {
        font-weight: bold;
        font-size: 40px;
        color: white !important;
    }
    .count-list {
        display: flex;
        justify-content: space-between;
        width: 700px;
        height: 212px;
        margin-top: 100px;
        li {
            margin-left: 5px;
            border-left: 2px solid white;
            padding-left: 16px;
        }
        p {
            font-weight: bold;
            color: white !important;
        }
        .num {
            font-size: 48px;
        }
        .text {
            font-size: 20px;
        }
    }
}

.step-list {
    display: flex;
    justify-content: space-between;
    li {
        margin-top: 20px;
    }
    img {
        margin-top: 4px;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
    }
}

.leave-contact {
    background-color: #F0AD25;
    padding: 36px;
    padding-left: 85px;
    h2 {
        font-size: 40px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        font-weight: 500;
    }
    h2 + p {
        margin-top: 8px;
    }
    .field {
        margin-top: 16px;
        .input {
            width: 380px !important;
        }
        .button {
            width: 160px !important;
        }
    }
}

footer {
    padding-top: 60px;
    padding-bottom: 28px;
    padding-left: 85px;
    padding-right: 85px;
    .footer-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .block {
        h3 {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
        }
        h3 + .link-list {
            margin-top: 30px;
        }
        
    }
    .link-list {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        li + li {
            margin-top: 24px;
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 100px;
        .material-icons + a {
            margin-left: 10px;
        }
        a {
            font-size: 20px;
            font-weight: 500;
        }
        span {
            font-size: 14px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 767px) {
    .banner {
        display: block;
        .banner-img {
            margin: auto;
            margin-top: 64px;
            width: 210px;
            height: 288px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .banner-content {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                margin-top: 24px;
                font-size: 32px;
            }
            span {
                font-size: 24px;
                display: block;
                margin-top: 0;
                font-weight: normal;
            }
            h1 + span {
                margin-top: 8px;
            }
            .select {
                margin-top: 12px;
                select {
                    width: 390px !important;
                }
            }
            .control {
                margin-top: 12px;
                .search-btn {
                    width: 390px !important;
                }
            }
            .search-field {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
            }
        }
        .godown-icon {
            margin-top: 100px !important;
            // float: right;
            font-size: 44px !important;
            display: block;
            right: 0;
            // display: block;
        }
    }
    .section {
        padding: 39px;
    }
    .slide-list {
        .card {
            .userinfo {
                padding: 0;
                .grade {
                    .each-grade + .each-grade {
                        margin-left: 32px;
                    }
                }
            }
        }
    }

    .step-list {
        li + li {
            margin-left: 30px;
        }
    }

    .leave-contact {
        padding-left: 39px;
    }

    footer {
        padding-left: 40px;
        padding-right: 40px;
    }

  }