

.nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    .logo {
        width: 121px;
        height: 55px;
    }
    .nav-list {
        display: flex;
        justify-content: space-around;
        .nav-page + .nav-page {
            margin-left: 40px;
        }
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    height: 736px;
    .banner-right {
        margin-right: 112px;
        margin-top: 264px;
        
        h1 {
            font-size: 40px;
            font-weight: bold;
        }
        p {
            font-size: 24px;
            margin-top: 16px;
            font-weight: bold;
        }
        .search-field {
            display: flex;
            margin-top: 48px;
        }
        .godown-icon {
            float: right;
            margin-top: 199px;
        }
    }
}

.content {
    padding: 80px;
    h2 {
        font-size: 32px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
    .slide-list {
        display: flex;
        .card {
            width: 350px;
            height: 100%;
            border: 1px black solid;
            overflow: hidden;
            .photo-filter {
                height: 120px;
                overflow: hidden;
            }
            .userinfo {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 40px;
                margin-top: -100px;
                .avatar {
                    width: 100px;
                }
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 16px;
                }
                .grade {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 24px;
                    .each-grade {
                        margin: 0;
                    }
                    .each-grade + .each-grade {
                        margin-left: 60px;
                    }
                    h4 {
                        font-size: 16px;
                    }
                    .num {
                        font-size: 28px;
                    }
                    .type {
                        font-size: 14px;
                    }
                }
            }
        }
        .card + .card {
            margin-left: 30px;
        }
    }
}