

.nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    .logo {
        width: 121px;
        height: 55px;
    }
    .nav-list {
        display: flex;
        justify-content: space-around;
        .nav-page + .nav-page {
            margin-left: 40px;
        }
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    height: 736px;
    .banner-right {
        margin-right: 112px;
        margin-top: 264px;
        
        h1 {
            font-size: 40px;
            font-weight: bold;
        }
        p {
            font-size: 24px;
            margin-top: 16px;
            font-weight: bold;
        }
        .search-field {
            display: flex;
            margin-top: 48px;
        }
        .godown-icon {
            float: right;
            margin-top: 199px;
        }
    }
}

.section {
    padding: 80px;
    h2 {
        font-size: 32px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
}

.slide-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .card {
        width: 350px;
        height: 100%;
        border: 1px black solid;
        overflow: hidden;
        margin: auto 30px;
        .photo-filter {
            height: 120px;
            overflow: hidden;
        }
        .userinfo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            margin-top: -100px;
            .avatar {
                width: 100px;
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
            .grade {
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
                .each-grade {
                    margin: 0;
                }
                .each-grade + .each-grade {
                    margin-left: 60px;
                }
                h4 {
                    font-size: 16px;
                }
                .num {
                    font-size: 28px;
                }
                .type {
                    font-size: 14px;
                }
            }
        }
    }
}

.puzzle {
    display: flex;
    margin-top: 12px;
    .piece {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        margin: 6px;
        cursor: pointer;
        .filter-grey {
            background-color: black;
            width: 100%;
            height: 100%;
        }
        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-weight: bold;
            color: white !important;
        }
        img {
            background-color: black;
            opacity: 0.4;
            position: absolute;
            object-fit: cover;
            height: 100%;
        }
    }
    .sub-puzzle {
        margin: 6px;
    }
    .sub-puzzle-list {
        width: 267px;
        li + li {
            margin-top: 6px;
        }
    }
    .sub-piece {
        height: 168px;
        width: 100%;
        margin: 0;
    }
    .square {
        width: 350px;
        height: 350px;
    }
    .rectangle {
        width: 303px;
        height: 350px;
    }
    .thin {
        width: 172px;
        height: 350px;
    }
}

.statistics {
    background-image: url('https://hexschool.github.io/webLayoutTraining1st/petpet-week8/index-9.jpeg');
    background-repeat: no-repeat;
    height: 584px;
    padding: 80px;
    h2 {
        font-weight: bold;
        font-size: 40px;
        color: white !important;
    }
    .count-list {
        display: flex;
        justify-content: space-between;
        width: 700px;
        height: 212px;
        margin-top: 100px;
        li {
            margin-left: 5px;
            border-left: 2px solid white;
            padding-left: 16px;
        }
        p {
            font-weight: bold;
            color: white !important;
        }
        .num {
            font-size: 48px;
        }
        .text {
            font-size: 20px;
        }
    }
}
